django
djangorestframework
djangorestframework-simplejwt
psycopg2
django-cors-headers
requests
pymupdf
python-docx
openai
python-dotenv
aiohttp
python-decouple
yt-dlp
beautifulsoup4
xhtml2pdf
youtube_transcript_api 
nltk
tiktoken
psycopg2-binary